Repository memgraph/mage, pull requests merged in 2021-05, with the labels that each got.

#32 Clean database after E2E test
  e2e/test_module.py
Labels: test

#33 Vector comparison utils
  cpp/mg_utility/mg_test_utils.hpp
  cpp/mg_utility/mg_utils.hpp
Labels: utility

#37 Fix and test weakly connected components
  cpp/connectivity_module/connectivity_module.cpp
  e2e/weakly_connected_components_test/test_empty/input.cyp
  e2e/weakly_connected_components_test/test_empty/test.yml
  e2e/weakly_connected_components_test/test_single_component/input.cyp
  e2e/weakly_connected_components_test/test_single_component/test.yml
  e2e/weakly_connected_components_test/test_two_components/input.cyp
  e2e/weakly_connected_components_test/test_two_components/test.yml
Labels: enhancement, test

#36 Add error margin to e2e tests. Remove Neo4j client
  e2e/test_module.py
  python/tests/requirements.txt
  test_e2e
Labels: enhancement

#38 Documentation update
  README.md
  img/graph_input.png
  img/graph_output.png
  img/wizard.png
Labels: documentation

#35 Directed GraphView implementation. mg_utility documentation
  cpp/biconnected_components_module/biconnected_components_module.cpp
  cpp/bipartite_matching_module/bipartite_matching_module.cpp
  cpp/bridges_module/bridges_module.cpp
  cpp/bridges_module/bridges_test.cpp
  cpp/connectivity_module/connectivity_module.cpp
  cpp/cycles_module/cycles_module.cpp
  cpp/mg_utility/mg_generate.hpp
  cpp/mg_utility/mg_graph.hpp
  cpp/mg_utility/mg_utils.hpp
Labels: documentation, enhancement, utility
