Repository memgraph/mage, pull requests merged in 2021-12, with the labels that each got.

#85 Update GraphView abstraction
  cpp/mg_utility/data_structures/graph_view.hpp
  cpp/mg_utility/mg_generate.hpp
  cpp/mg_utility/mg_graph.hpp
  cpp/mg_utility/mg_test_utils.hpp
Labels: lang: cpp, type: utility, status: change

#69 Approximative streaming PageRank
  cpp/pagerank_module/CMakeLists.txt
  cpp/pagerank_module/algorithm_online/pagerank.cpp
  cpp/pagerank_module/algorithm_online/pagerank.hpp
  cpp/pagerank_module/pagerank_module.cpp
  cpp/pagerank_module/pagerank_online_module.cpp
  cpp/pagerank_module/pagerank_online_test.cpp
  e2e/pagerank_online_test/test_online_call_get_and_set/input.cyp
  e2e/pagerank_online_test/test_online_call_get_and_set/test.yml
  e2e/pagerank_online_test/test_online_delete_graph/input.cyp
  e2e/pagerank_online_test/test_online_delete_graph/test.yml
  e2e/pagerank_online_test/test_online_double_call/input.cyp
  e2e/pagerank_online_test/test_online_double_call/test.yml
  e2e/pagerank_online_test/test_online_double_call_get/input.cyp
  e2e/pagerank_online_test/test_online_double_call_get/test.yml
  e2e/pagerank_online_test/test_online_double_call_set/input.cyp
  e2e/pagerank_online_test/test_online_double_call_set/test.yml
  e2e/pagerank_online_test/test_online_get_ranks_without_set/input.cyp
  e2e/pagerank_online_test/test_online_get_ranks_without_set/test.yml
  e2e/pagerank_online_test/test_online_get_without_set/input.cyp
  e2e/pagerank_online_test/test_online_get_without_set/test.yml
  e2e/test_module.py
Labels: type: algorithm, lang: cpp, status: ready

#97 Clarify InsertDoubleValueResult inserts results
  cpp/betweenness_centrality_module/betweenness_centrality_module.cpp
  cpp/mg_utility/mg_utils.hpp
  cpp/pagerank_module/pagerank_module.cpp
  cpp/pagerank_module/pagerank_online_module.cpp
Labels: type: bug, good first issue, lang: cpp, status: ship it

#89 Weighted graph methods built for dynamic community detection
  cpp/mg_utility/mg_generate.hpp
  cpp/mg_utility/mg_graph.hpp
  cpp/mg_utility/mg_utils.hpp
Labels: lang: cpp, type: utility, status: ship it

#66 LabelRankT dynamic community detection algorithm
  cpp/CMakeLists.txt
  cpp/dynamic_community_detection_module/CMakeLists.txt
  cpp/dynamic_community_detection_module/algorithm/dynamic_community_detection.cpp
  cpp/dynamic_community_detection_module/algorithm/dynamic_community_detection.hpp
  cpp/dynamic_community_detection_module/dynamic_community_detection_module.cpp
  cpp/dynamic_community_detection_module/dynamic_community_detection_test.cpp
  cpp/mg_procedure/mg_procedure.h
  cpp/mg_utility/mg_utils.hpp
  e2e/dynamic_community_detection_test/test_get/input.cyp
  e2e/dynamic_community_detection_test/test_get/test.yml
  e2e/dynamic_community_detection_test/test_get_no_reset/input.cyp
  e2e/dynamic_community_detection_test/test_get_no_reset/test.yml
  e2e/dynamic_community_detection_test/test_get_uninitialized/input.cyp
  e2e/dynamic_community_detection_test/test_get_uninitialized/test.yml
  e2e/dynamic_community_detection_test/test_online_update_edges_changed/input.cyp
  e2e/dynamic_community_detection_test/test_online_update_edges_changed/test.yml
  e2e/dynamic_community_detection_test/test_online_update_nodes_changed/input.cyp
  e2e/dynamic_community_detection_test/test_online_update_nodes_changed/test.yml
  e2e/dynamic_community_detection_test/test_set/input.cyp
  e2e/dynamic_community_detection_test/test_set/test.yml
  e2e/dynamic_community_detection_test/test_set_all_parameters/input.cyp
  e2e/dynamic_community_detection_test/test_set_all_parameters/test.yml
  e2e/dynamic_community_detection_test/test_set_directed/input.cyp
  e2e/dynamic_community_detection_test/test_set_directed/test.yml
  e2e/dynamic_community_detection_test/test_set_directed_weighted/input.cyp
  e2e/dynamic_community_detection_test/test_set_directed_weighted/test.yml
  e2e/dynamic_community_detection_test/test_set_disconnected/input.cyp
  e2e/dynamic_community_detection_test/test_set_disconnected/test.yml
  e2e/dynamic_community_detection_test/test_set_empty/input.cyp
  e2e/dynamic_community_detection_test/test_set_empty/test.yml
  e2e/dynamic_community_detection_test/test_set_no_labels/input.cyp
  e2e/dynamic_community_detection_test/test_set_no_labels/test.yml
  e2e/dynamic_community_detection_test/test_set_weighted/input.cyp
  e2e/dynamic_community_detection_test/test_set_weighted/test.yml
  e2e/dynamic_community_detection_test/test_update_uninitialized/input.cyp
  e2e/dynamic_community_detection_test/test_update_uninitialized/test.yml
Labels: type: algorithm, lang: cpp, status: ready

#102 Initial MAGE PR template
  .github/pull_request_template.md
Labels: type: enhancement

#108 Update README for v1.1
  README.md
Labels: status: ship it

#111 Update README.md
  README.md
  img/graph_input.png
  img/graph_output.png
Labels: status: ready
