Repository memgraph/mage, pull requests merged in 2021-10, with the labels that each got.

#49 Add online node2vec
  Dockerfile
  README.md
  e2e/node2vec_online_test/test_online_embeddings_calculation/input.cyp
  e2e/node2vec_online_test/test_online_embeddings_calculation/test.yml
  e2e/node2vec_online_test/test_online_no_edges/input.cyp
  e2e/node2vec_online_test/test_online_no_edges/test.yml
  e2e/node2vec_online_test/test_online_streamwalk_updater_missing/input.cyp
  e2e/node2vec_online_test/test_online_streamwalk_updater_missing/test.yml
  e2e/node2vec_online_test/test_online_word2vec_learner_missing/input.cyp
  e2e/node2vec_online_test/test_online_word2vec_learner_missing/test.yml
  python/mage/node2vec_online_module/__init__.py
  python/mage/node2vec_online_module/w2v_learners.py
  python/mage/node2vec_online_module/walk_sampling.py
  python/node2vec_online.py
  python/requirements.txt
  python/tests/node2vec_online/__init__.py
  python/tests/node2vec_online/test_w2v_learner.py
  python/tests/node2vec_online/test_walk_sampling.py
Labels: type: algorithm, lang: python, status: ready

#56 Add black-box script for local build, reduce Docker image size
  .dockerignore
  .github/workflows/test.yml
  Dockerfile
  README.md
  build
  python/requirements.txt
  setup
Labels: type: enhancement, status: ready

#71 Add push to Docker hub with TAG on image
  .github/workflows/docker_publish.yml
Labels: status: ready

#70 New query modules API
  .github/workflows/test.yml
  Dockerfile
  README.md
  cpp/betweenness_centrality_module/betweenness_centrality_module.cpp
  cpp/biconnected_components_module/biconnected_components_module.cpp
  cpp/bipartite_matching_module/bipartite_matching_module.cpp
  cpp/bridges_module/bridges_module.cpp
  cpp/connectivity_module/connectivity_module.cpp
  cpp/cycles_module/cycles_module.cpp
  cpp/mg_procedure/mg_procedure.h
  cpp/mg_utility/mg_exceptions.hpp
  cpp/mg_utility/mg_utils.hpp
  cpp/mg_utility/mgp.hpp
  cpp/pagerank_module/pagerank_module.cpp
  cpp/uuid_module/uuid_module.cpp
  e2e/rsmgp_example_test/test_simple/input.cyp
  e2e/rsmgp_example_test/test_simple/test.yml
  rust/rsmgp-example/Cargo.lock
  setup
Labels: lang: cpp, type: utility, status: ship it
