Repository memgraph/mage, pull requests merged in 2021-06, with the labels that each got.

#34 Betweenness centrality algorithm
  cpp/CMakeLists.txt
  cpp/betweenness_centrality_module/CMakeLists.txt
  cpp/betweenness_centrality_module/a.out
  cpp/betweenness_centrality_module/algorithm/betweenness_centrality.cpp
  cpp/betweenness_centrality_module/algorithm/betweenness_centrality.hpp
  cpp/betweenness_centrality_module/betweenness_centrality_module.cpp
  cpp/betweenness_centrality_module/betweenness_centrality_test.cpp
  e2e/betweenness_centrality_test/test_chain_directed/input.cyp
  e2e/betweenness_centrality_test/test_chain_directed/test.yml
  e2e/betweenness_centrality_test/test_chain_normalized/input.cyp
  e2e/betweenness_centrality_test/test_chain_normalized/test.yml
  e2e/betweenness_centrality_test/test_chain_undirected/input.cyp
  e2e/betweenness_centrality_test/test_chain_undirected/test.yml
  e2e/betweenness_centrality_test/test_complete_graph/input.cyp
  e2e/betweenness_centrality_test/test_complete_graph/test.yml
  e2e/betweenness_centrality_test/test_empty/input.cyp
  e2e/betweenness_centrality_test/test_empty/test.yml
  e2e/betweenness_centrality_test/test_normalized_directed_graph/input.cyp
  e2e/betweenness_centrality_test/test_normalized_directed_graph/test.yml
  e2e/betweenness_centrality_test/test_two_nodes/input.cyp
  e2e/betweenness_centrality_test/test_two_nodes/test.yml
  e2e/test_module.py
Labels: algorithm

#5 Init pagerank module
  cpp/CMakeLists.txt
  cpp/mg_utility/mg_test_utils.hpp
  cpp/mg_utility/mg_utils.hpp
  cpp/pagerank_module/CMakeLists.txt
  cpp/pagerank_module/algorithm/pagerank.cpp
  cpp/pagerank_module/algorithm/pagerank.hpp
  cpp/pagerank_module/pagerank_module.cpp
  cpp/pagerank_module/pagerank_test.cpp
  e2e/pagerank_test/test_chain/input.cyp
  e2e/pagerank_test/test_chain/test.yml
  e2e/pagerank_test/test_empty/input.cyp
  e2e/pagerank_test/test_empty/test.yml
  e2e/pagerank_test/test_influential_node/input.cyp
  e2e/pagerank_test/test_influential_node/test.yml
  e2e/pagerank_test/test_influential_node_transfer/input.cyp
  e2e/pagerank_test/test_influential_node_transfer/test.yml
Labels: algorithm

#39 Publish MAGE Docker Hub image
  .github/workflows/docker_publish.yml
Labels: enhancement

#41 Documentation update
  README.md
Labels: documentation

#42 Add VRP (vehicle routing problem) module
  README.md
  e2e/vrp_test/test_invalid_coordinate_field/input.cyp
  e2e/vrp_test/test_invalid_coordinate_field/test.yml
  e2e/vrp_test/test_invalid_number_of_vehicles/input.cyp
  e2e/vrp_test/test_invalid_number_of_vehicles/test.yml
  e2e/vrp_test/test_no_latitude_specified/input.cyp
  e2e/vrp_test/test_no_latitude_specified/test.yml
  e2e/vrp_test/test_no_longitude_specified/input.cyp
  e2e/vrp_test/test_no_longitude_specified/test.yml
  python/.flake8
  python/mage/constraint_programming/__init__.py
  python/mage/constraint_programming/vrp_cp_solver.py
  python/mage/geography/__init__.py
  python/mage/geography/distance_calculator.py
  python/mage/geography/vehicle_routing.py
  python/tests/distance_calculator/test_distance_calculator.py
  python/tests/vrp/test_vrp_constraint_programming.py
  python/vrp.py
Labels: algorithm, python

#12 Add Rust query modules infrastructure
  .cargo-husky/hooks/pre-commit
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  build
  e2e/rsmgp_example_test/test_simple/input.cyp
  e2e/rsmgp_example_test/test_simple/test.yml
  rust/.gitignore
  rust/README.md
  rust/rsmgp-example/.gitignore
  rust/rsmgp-example/Cargo.lock
  rust/rsmgp-example/Cargo.toml
  rust/rsmgp-example/src/lib.rs
  rust/rsmgp-sys/.gitignore
  rust/rsmgp-sys/Cargo.toml
  rust/rsmgp-sys/README.md
  rust/rsmgp-sys/build.rs
  rust/rsmgp-sys/mgp/mg_procedure.h
  rust/rsmgp-sys/mgp/mg_procedure.syms
  rust/rsmgp-sys/src/edge/mod.rs
  rust/rsmgp-sys/src/edge/tests.rs
  rust/rsmgp-sys/src/lib.rs
  rust/rsmgp-sys/src/list/mod.rs
  rust/rsmgp-sys/src/list/tests.rs
  rust/rsmgp-sys/src/map/mod.rs
  rust/rsmgp-sys/src/map/tests.rs
  rust/rsmgp-sys/src/memgraph/mod.rs
  rust/rsmgp-sys/src/memgraph/tests.rs
  rust/rsmgp-sys/src/mgp.rs
  rust/rsmgp-sys/src/path/mod.rs
  rust/rsmgp-sys/src/path/tests.rs
  rust/rsmgp-sys/src/property/mod.rs
  rust/rsmgp-sys/src/property/tests.rs
  rust/rsmgp-sys/src/result/mod.rs
  rust/rsmgp-sys/src/result/tests.rs
  rust/rsmgp-sys/src/rsmgp.rs
  rust/rsmgp-sys/src/testing.rs
  rust/rsmgp-sys/src/value/mod.rs
  rust/rsmgp-sys/src/value/tests.rs
  rust/rsmgp-sys/src/vertex/mod.rs
  rust/rsmgp-sys/src/vertex/tests.rs
Labels: enhancement, utility

#45 Add betweenness centrality parallel implementation
  Dockerfile
  cpp/CMakeLists.txt
  cpp/betweenness_centrality_module/algorithm/betweenness_centrality.cpp
  cpp/betweenness_centrality_module/algorithm/betweenness_centrality.hpp
  cpp/betweenness_centrality_module/betweenness_centrality_module.cpp
  cpp/betweenness_centrality_module/betweenness_centrality_test.cpp
Labels: cpp, enhancement
