Repository memgraph/mage, pull requests merged in 2022-10, with the labels that each got.

#162 Degree centrality algorithm
  cpp/CMakeLists.txt
  cpp/degree_centrality_module/CMakeLists.txt
  cpp/degree_centrality_module/algorithm/degree_centrality.cpp
  cpp/degree_centrality_module/algorithm/degree_centrality.hpp
  cpp/degree_centrality_module/degree_centrality_module.cpp
  cpp/degree_centrality_module/degree_centrality_test.cpp
  e2e/degree_centrality_test/test_7_nodes_out_centrality/input.cyp
  e2e/degree_centrality_test/test_7_nodes_out_centrality/test.yml
  e2e/degree_centrality_test/test_7_nodes_subgraph_in_centrality/input.cyp
  e2e/degree_centrality_test/test_7_nodes_subgraph_in_centrality/test.yml
  e2e/degree_centrality_test/test_7_nodes_undirected/input.cyp
  e2e/degree_centrality_test/test_7_nodes_undirected/test.yml
  e2e/degree_centrality_test/test_empty/input.cyp
  e2e/degree_centrality_test/test_empty/test.yml
  e2e/degree_centrality_test/test_empty_subgraph/input.cyp
  e2e/degree_centrality_test/test_empty_subgraph/test.yml
  e2e/degree_centrality_test/test_wrong_type/input.cyp
  e2e/degree_centrality_test/test_wrong_type/test.yml
Labels: type: algorithm, lang: cpp

#105 Embeddings clustering algorithm
  e2e/kmeans_test/test_kmeans_small/input.cyp
  e2e/kmeans_test/test_kmeans_small/test.yml
  python/kmeans.py
  python/requirements.txt
Labels: lang: python, status: ready

#160 Link prediction with DGL
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  Dockerfile.cugraph
  Dockerfile.release
  e2e/link_prediction_test/test_online_cuda_training/input.cyp
  e2e/link_prediction_test/test_online_cuda_training/test.yml
  e2e/link_prediction_test/test_online_dataset_empty/input.cyp
  e2e/link_prediction_test/test_online_dataset_empty/test.yml
  e2e/link_prediction_test/test_online_disconnected_graph/input.cyp
  e2e/link_prediction_test/test_online_disconnected_graph/test.yml
  e2e/link_prediction_test/test_online_duplicate_connection/input.cyp
  e2e/link_prediction_test/test_online_duplicate_connection/test.yml
  e2e/link_prediction_test/test_online_get_training_results_no_train/input.cyp
  e2e/link_prediction_test/test_online_get_training_results_no_train/test.yml
  e2e/link_prediction_test/test_online_no_edges/input.cyp
  e2e/link_prediction_test/test_online_no_edges/test.yml
  e2e/link_prediction_test/test_online_no_validation_set/input.cyp
  e2e/link_prediction_test/test_online_no_validation_set/test.yml
  e2e/link_prediction_test/test_online_predict_no_train_no_load/input.cyp
  e2e/link_prediction_test/test_online_predict_no_train_no_load/test.yml
  e2e/link_prediction_test/test_online_same_edge_type_on_more_type_triplets/input.cyp
  e2e/link_prediction_test/test_online_same_edge_type_on_more_type_triplets/test.yml
  e2e/link_prediction_test/test_online_same_edge_type_on_more_type_triplets_mult_labels/input.cyp
  e2e/link_prediction_test/test_online_same_edge_type_on_more_type_triplets_mult_labels/test.yml
  e2e/link_prediction_test/test_online_small_chain_graph/input.cyp
  e2e/link_prediction_test/test_online_small_chain_graph/test.yml
  e2e/link_prediction_test/test_online_train_predict_heterogeneous_graph/input.cyp
  e2e/link_prediction_test/test_online_train_predict_heterogeneous_graph/test.yml
  e2e/link_prediction_test/test_online_train_predict_homogeneous_graph/input.cyp
  e2e/link_prediction_test/test_online_train_predict_homogeneous_graph/test.yml
  e2e/link_prediction_test/test_online_two_nodes_directed_edge/input.cyp
  e2e/link_prediction_test/test_online_two_nodes_directed_edge/test.yml
  e2e/link_prediction_test/test_online_user_specified_target_edge_type/input.cyp
  e2e/link_prediction_test/test_online_user_specified_target_edge_type/test.yml
  e2e/link_prediction_test/test_online_user_specified_target_relation/input.cyp
  e2e/link_prediction_test/test_online_user_specified_target_relation/test.yml
  python/link_prediction.py
  python/mage/link_prediction/__init__.py
  python/mage/link_prediction/constants.py
  python/mage/link_prediction/factory.py
  python/mage/link_prediction/link_prediction_util.py
  python/mage/link_prediction/models/__init__.py
  python/mage/link_prediction/models/gat.py
  python/mage/link_prediction/models/graph_sage.py
  python/mage/link_prediction/predictors/DotPredictor.py
  python/mage/link_prediction/predictors/MLPPredictor.py
  python/mage/link_prediction/predictors/__init__.py
  python/requirements.txt
  python/tests/requirements.txt
Labels: lang: python, status: change, type: module
