Repository memgraph/mage, pull requests merged in 2022-04, with the labels that each got.

#132 Bump the version of Black formatter
  python/mage/geography/distance_calculator.py
  python/tests/requirements.txt
Labels: type: bug

#100 Add export/import util
  README.md
  e2e/export_import_deprecated/test_online_export_import/input.cyp
  e2e/export_import_deprecated/test_online_export_import/test.yml
  python/export_util.py
  python/import_util.py
  python/mage/export_import_util/__init__.py
  python/mage/export_import_util/parameters.py
Labels: lang: python, type: utility, status: ready

#117 Dynamic & static Katz centrality implementation
  README.md
  cpp/CMakeLists.txt
  cpp/katz_centrality_module/CMakeLists.txt
  cpp/katz_centrality_module/algorithm/katz.cpp
  cpp/katz_centrality_module/algorithm/katz.hpp
  cpp/katz_centrality_module/katz_centrality_module.cpp
  cpp/katz_centrality_module/katz_centrality_online_module.cpp
  cpp/katz_centrality_module/katz_centrality_online_test.cpp
  cpp/katz_centrality_module/katz_centrality_test.cpp
  cpp/mg_utility/data_structures/graph_view.hpp
  cpp/mg_utility/mg_graph.hpp
  cpp/mg_utility/mg_utils.hpp
  cpp/pagerank_module/pagerank_online_test.cpp
  e2e/katz_online_test/test_online_call_get/input.cyp
  e2e/katz_online_test/test_online_call_get/test.yml
  e2e/katz_online_test/test_online_call_get_and_set/input.cyp
  e2e/katz_online_test/test_online_call_get_and_set/test.yml
  e2e/katz_online_test/test_online_call_get_on_inconsistent/input.cyp
  e2e/katz_online_test/test_online_call_get_on_inconsistent/test.yml
  e2e/katz_online_test/test_online_call_get_without_set/input.cyp
  e2e/katz_online_test/test_online_call_get_without_set/test.yml
  e2e/katz_online_test/test_online_call_update/input.cyp
  e2e/katz_online_test/test_online_call_update/test.yml
  e2e/katz_test/test_empty/input.cyp
  e2e/katz_test/test_empty/test.yml
  e2e/katz_test/test_large_random_graph/input.cyp
  e2e/katz_test/test_large_random_graph/test.yml
  e2e/katz_test/test_small_random_graph/input.cyp
  e2e/katz_test/test_small_random_graph/test.yml
Labels: type: algorithm, lang: cpp

#127 Dynamic betweenness centrality
  cpp/betweenness_centrality_module/CMakeLists.txt
  cpp/betweenness_centrality_module/algorithm/betweenness_centrality.hpp
  cpp/betweenness_centrality_module/algorithm_online/betweenness_centrality_online.cpp
  cpp/betweenness_centrality_module/algorithm_online/betweenness_centrality_online.hpp
  cpp/betweenness_centrality_module/betweenness_centrality_online_module.cpp
  cpp/betweenness_centrality_module/betweenness_centrality_online_test.cpp
  cpp/biconnected_components_module/algorithm/biconnected_components.cpp
  cpp/biconnected_components_module/algorithm/biconnected_components.hpp
  cpp/biconnected_components_module/biconnected_components_module.cpp
  cpp/biconnected_components_module/biconnected_components_test.cpp
  cpp/community_detection_module/algorithm_online/community_detection.cpp
  cpp/connectivity_module/connectivity_module.cpp
  cpp/mg_utility/mg_graph.hpp
  cpp/mg_utility/mg_test_utils.hpp
  cpp/mg_utility/mg_utils.hpp
  cpp/pagerank_module/pagerank_online_module.cpp
  e2e/betweenness_centrality_online_test/test_online_create&attach_node/input.cyp
  e2e/betweenness_centrality_online_test/test_online_create&attach_node/test.yml
  e2e/betweenness_centrality_online_test/test_online_create&attach_node_to_chain/input.cyp
  e2e/betweenness_centrality_online_test/test_online_create&attach_node_to_chain/test.yml
  e2e/betweenness_centrality_online_test/test_online_create_edge_biconnected_graph/input.cyp
  e2e/betweenness_centrality_online_test/test_online_create_edge_biconnected_graph/test.yml
  e2e/betweenness_centrality_online_test/test_online_create_edge_non-biconnected_graph/input.cyp
  e2e/betweenness_centrality_online_test/test_online_create_edge_non-biconnected_graph/test.yml
  e2e/betweenness_centrality_online_test/test_online_create_node/input.cyp
  e2e/betweenness_centrality_online_test/test_online_create_node/test.yml
  e2e/betweenness_centrality_online_test/test_online_delete_edge_biconnected_graph/input.cyp
  e2e/betweenness_centrality_online_test/test_online_delete_edge_biconnected_graph/test.yml
  e2e/betweenness_centrality_online_test/test_online_delete_edge_non-biconnected graph/input.cyp
  e2e/betweenness_centrality_online_test/test_online_delete_edge_non-biconnected graph/test.yml
  e2e/betweenness_centrality_online_test/test_online_delete_node/input.cyp
  e2e/betweenness_centrality_online_test/test_online_delete_node/test.yml
  e2e/betweenness_centrality_online_test/test_online_detach&delete_node/input.cyp
  e2e/betweenness_centrality_online_test/test_online_detach&delete_node/test.yml
  e2e/betweenness_centrality_online_test/test_online_detach&delete_node_from_chain/input.cyp
  e2e/betweenness_centrality_online_test/test_online_detach&delete_node_from_chain/test.yml
  e2e/betweenness_centrality_online_test/test_online_get/input.cyp
  e2e/betweenness_centrality_online_test/test_online_get/test.yml
  e2e/betweenness_centrality_online_test/test_online_get_inconsistent/input.cyp
  e2e/betweenness_centrality_online_test/test_online_get_inconsistent/test.yml
  e2e/betweenness_centrality_online_test/test_online_get_uninitialized/input.cyp
  e2e/betweenness_centrality_online_test/test_online_get_uninitialized/test.yml
  e2e/betweenness_centrality_online_test/test_online_no_parallelization/input.cyp
  e2e/betweenness_centrality_online_test/test_online_no_parallelization/test.yml
  e2e/betweenness_centrality_online_test/test_online_normalization/input.cyp
  e2e/betweenness_centrality_online_test/test_online_normalization/test.yml
  e2e/betweenness_centrality_online_test/test_online_set/input.cyp
  e2e/betweenness_centrality_online_test/test_online_set/test.yml
  e2e/betweenness_centrality_online_test/test_online_update_uninitialized/input.cyp
  e2e/betweenness_centrality_online_test/test_online_update_uninitialized/test.yml
Labels: type: algorithm, lang: cpp, status: ready, type: module
