Repository memgraph/mage, pull requests merged in 2023-01, with the labels that each got.

#193 Prepare for 2.5.1 release of memgraph
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  .gitmodules
  Dockerfile
  Dockerfile.cugraph
  Dockerfile.release
Labels: status: ship it

#170 Query module for connecting to ElasticSearch
  python/elastic_search_serialization.py
  python/mage/elastic_search_serialization/elastic_search_util.py
  python/requirements.txt
  python/tests/elastic_search/test_elastic_search.py
Labels: lang: python, type: module

#195 bump mg version for 2.5.2 release
  .github/workflows/docker_publish.yml
  .github/workflows/test.yml
  .gitmodules
  Dockerfile
  Dockerfile.cugraph
Labels: status: ready

#182 Port dynamic graph analytics to the C++ API
  cpp/community_detection_module/CMakeLists.txt
  cpp/community_detection_module/algorithm_online/community_detection.cpp
  cpp/community_detection_module/algorithm_online/community_detection.hpp
  cpp/community_detection_module/community_detection_online_module.cpp
  cpp/community_detection_module/community_detection_online_test.cpp
  cpp/katz_centrality_module/CMakeLists.txt
  cpp/katz_centrality_module/algorithm/katz.cpp
  cpp/katz_centrality_module/algorithm/katz.hpp
  cpp/katz_centrality_module/katz_centrality_module.cpp
  cpp/katz_centrality_module/katz_centrality_online_module.cpp
  cpp/katz_centrality_module/katz_centrality_online_test.cpp
  cpp/katz_centrality_module/katz_centrality_test.cpp
  cpp/pagerank_module/CMakeLists.txt
  cpp/pagerank_module/algorithm_online/pagerank.cpp
  cpp/pagerank_module/algorithm_online/pagerank.hpp
  cpp/pagerank_module/pagerank_online_module.cpp
  cpp/pagerank_module/pagerank_online_test.cpp
  e2e/pagerank_online_test/test_online_double_call_get/test.yml
Labels: type: enhancement, lang: cpp, status: ready, status: change

#187 Add meta_util.schema procedure that generates graph schema as a graph result
  README.md
  e2e/meta_util_test/test_schema_empty/input.cyp
  e2e/meta_util_test/test_schema_empty/test.yml
  e2e/meta_util_test/test_schema_nodes_labels/input.cyp
  e2e/meta_util_test/test_schema_nodes_labels/test.yml
  e2e/meta_util_test/test_schema_nodes_properties/input.cyp
  e2e/meta_util_test/test_schema_nodes_properties/test.yml
  e2e/meta_util_test/test_schema_nodes_size/input.cyp
  e2e/meta_util_test/test_schema_nodes_size/test.yml
  e2e/meta_util_test/test_schema_relationships_count/input.cyp
  e2e/meta_util_test/test_schema_relationships_count/test.yml
  e2e/meta_util_test/test_schema_relationships_labels/input.cyp
  e2e/meta_util_test/test_schema_relationships_labels/test.yml
  e2e/meta_util_test/test_schema_relationships_properties/input.cyp
  e2e/meta_util_test/test_schema_relationships_properties/test.yml
  e2e/meta_util_test/test_schema_relationships_size/input.cyp
  e2e/meta_util_test/test_schema_relationships_size/test.yml
  python/mage/meta_util/__init__.py
  python/mage/meta_util/parameters.py
  python/meta_util.py
Labels: type: enhancement, lang: python, status: ready

#194 Reogranize setup script
  Dockerfile
  Dockerfile.cugraph
  Dockerfile.release
  README.md
  setup
Labels: type: utility, status: ship it
